server:
  port: 8080
  servlet:
    context-path: /

spring:
  datasource:
    url: jdbc:mysql://localhost:3306/functionwall?useUnicode=true&characterEncoding=utf8&useSSL=false&serverTimezone=UTC
    username: root
    password: root
    driver-class-name: com.mysql.cj.jdbc.Driver
    druid:
      initial-size: 5
      min-idle: 5
      max-active: 20
      max-wait: 6000
      time-between-eviction-runs-millis: 60000
      min-evictable-idle-time-millis: 30000
      test-on-borrow: false
      test-on-return: false
      test-while-idle: true
      pool-prepared-statements: true
      filters: stat
      max-pool-prepared-statement-per-connection-size: 20
      use-global-data-source-stat: true

  mvc:
    hiddenmethod:
      filter:
        enabled: true
    thymeleaf:
      cache: false
  mail:
    username: 995689575@qq.com
    password: vjktxqqgwgczbdhh
    host: smtp.qq.com
    properties:
      mail.smtp.ssl.enable: true

mybatis:
  mapper-locations: classpath:mapper/*.xml
  type-aliases-package: com.functionwall.pojo.mould
  configuration:
    map-underscore-to-camel-case: true

# 分页配置
pagehelper:
  helper-dialect: mysql
  reasonable: true
  support-methods-arguments: true


logging:
  level:
    root: info
    com:
      functionwall:
        dao: debug
