<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<body th:fragment="footer">
<footer id="footer-wrapper" class="dark-wrapper">
    <div class="container">
        <div class="row mb90">
            <div class="col-md-3 col-xs-6">
                <div class="text-widget widget">
                    <div class="widget-content">
                        <img alt="" class="img-responsive" src="/assets/images/logo-light.png">
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-xs-6">
                <div class="text-widget widget">
                    <h4 class="widget-title mb40">Location</h4>
                    <div class="widget-content">
                        <p>
                            Function Wall
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-xs-6">
                <div class="useful-link-widget widget">
                    <h4 class="widget-title mb40">Pages</h4>
                    <div class="widget-content">
                        <div class="useful-link-list">
                            <div class="row">
                                <div class="col-md-6 col-sm-6 col-xs-6">
                                    <ul class="list-unstyled">
                                        <li>
                                            <i class="fa fa-angle-right"></i><a th:href="@{/404}">404</a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="col-md-6 col-sm-6 col-xs-6">
                                    <ul class="list-unstyled">
                                        <li>
                                            <i class="fa fa-angle-right"></i><a href="https://github.com/">Github</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-xs-6">
                <div class="mailing-widget widget">
                    <h4 class="widget-title mb40">Mailing List</h4>
                    <div class="content-wiget">
                        <p class="mb40">Subscribe to our newsletter for the latest updates and offers.</p>
                        <form action="/">
                            <div class="input-group">
                                <input class="form-control form-email-widget" placeholder="Email address" type="text">
                                <span class="input-group-btn"><input class="btn btn-email" type="submit" value="✓"></span>
                            </div>
                        </form>
                        <p></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
<a href="#" id="back-to-top"><i class="fa fa-angle-up"></i></a>
</body>