<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <meta content="" name="description">
    <meta content="" name="author">

    <link rel="shortcut icon" href="/assets/images/favicon/favicon.ico" type="image/x-icon"/>

    <title>我的信息</title>
    <link href="/assets/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <link href='https://fonts.googleapis.com/css?family=Lato:400,300,700,900|Dancing+Script:400,700|Raleway:400,100,300,700,900|Reenie+Beanie&subset=latin,latin-ext'
          rel='stylesheet' type='text/css'>

    <link href="/assets/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <link href="/assets/pe-icons/css/pe-icon-7-stroke.css" rel="stylesheet">

    <link href="/assets/css/animate.css" rel="stylesheet">
    <link href="/assets/css/plugins.css" rel="stylesheet">
    <link href="/style.css" rel="stylesheet">

</head>

<body class="top-navigation pushy-right-side">

<nav class="pushy pushy-right">
    <ul class="list-unstyled">
        <li><a class="logo" href="#"><img alt="" class="logo img-responsive" src="/assets/images/logo.png"></a></li>
        <li class="pushy-submenu">
            <a class="submenu-link" href="#">Home <i class="fa fa-angle-down"></i></a>
            <ul>
                <li><a th:href="@{'/magazine'}">Magazine</a></li>
                <li><a th:href="@{'/masonry'}">Masonry</a></li>
                <li><a th:href="@{'/agency'}">Agency</a></li>
                <li><a th:href="@{'/copy'}">Copy</a></li>
            </ul>
        </li>
        <li class="pushy-submenu">
            <a class="submenu-link" href="#">Works <i class="fa fa-angle-down"></i></a>
            <ul>
                <li><a th:href="@{'/portfolio-grid'}">Portfolio Grid</a></li>
                <li><a th:href="@{'/portfolio-grid-fullwidth'}">Portfolio Grid Fullwidth</a></li>
                <li><a th:href="@{'/single-portfolio'}">Single Portfolio</a></li>
                <li><a th:href="@{'/single-portfolio-video'}">Single Portfolio Video</a></li>
            </ul>
        </li>
        <li class="pushy-submenu">
            <a class="submenu-link" href="#">News <i class="fa fa-angle-down"></i></a>
            <ul>
                <li><a th:href="@{'/news-list'}">News List</a></li>
                <li><a th:href="@{'/news-grid'}">News Grid</a></li>
                <li><a th:href="@{'/news-tiles'}">News Tiles</a></li>
                <li><a th:href="@{'/single-post'}">Single Post</a></li>
                <li><a th:href="@{'/single-post-video'}">Single Post Video</a></li>
                <li><a th:href="@{'/single-post-no-sidebar'}">Single Post No Sidebar</a></li>
            </ul>
        </li>
        <li class="pushy-submenu">
            <a class="submenu-link" href="#">Pages <i class="fa fa-angle-down"></i></a>
            <ul>
                <li><a th:href="@{'/about-us'}">About Us</a></li>
                <li><a th:href="@{'/contact-us'}">Contact Us</a></li>
                <li><a th:href="@{'/404'}">404</a></li>
            </ul>
        </li>
    </ul>
</nav>

<!-- Site Overlay -->
<div class="site-overlay">
</div>

<div id="master-wrapper">

    <div th:replace="copy::bar"></div>

    <section class="white-wrapper">
        <div class="section-inner">
            <div class="container">
                <div class="row mb60 text-center">
                    <div class="col-sm-12">
                        <h3 class="section-title">My Info</h3>
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-sm-4">
                        <p class="form-control col-md-4 mb20">
                            网名：<span th:text="${session.user.username}"/>
                        </p>
                        <p class="form-control col-md-4 mb20">
                            账号：<span th:text="${session.user.account}"/>
                        </p>
                        <p class="form-control col-md-4 mb20">
                            姓名：<span th:text="${session.user.realname}"/>
                        </p>
                        <p class="form-control col-md-4 mb20">
                            等级：<span th:text="${session.user.level}"/>
                        </p>
                        <p class="form-control col-md-4 mb20">
                            性别：<span th:text="${session.user.sex}"/>
                        </p>
                    </div>

                    <div class="col-sm-4 col-lg-offset-4">
                        <div class="panel-group styled-accordion" id="accordion" role="tablist" aria-multiselectable="true">
                            <div class="panel panel-default">
                                <div class="panel-heading panel-open smoothie" role="tab" id="headingOne">
                                    <h4 class="panel-title">
                                        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true"
                                           aria-controls="collapseOne">Summer Special</a>
                                    </h4>
                                </div>
                                <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                                    <div class="panel-body">
                                        <p>
                                            Phosfluorescently e-enable multidisciplinary architectures without team driven services. Credibly innovate
                                            high-payoff alignments before resource sucking metrics. Uniquely repurpose granular synergy after tactical
                                            internal or "organic" sources. Conveniently fabricate go forward niches vis-a-vis top-line partnerships.
                                            Progressively brand 24/7 deliverables whereas diverse total linkage.
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-default">
                                <div class="panel-heading smoothie" role="tab" id="headingTwo">
                                    <h4 class="panel-title">
                                        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo"
                                           aria-expanded="false" aria-controls="collapseTwo">Outdoor Persuits</a>
                                    </h4>
                                </div>
                                <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                                    <div class="panel-body">
                                        <p>
                                            Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf
                                            moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod.
                                            Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda
                                            shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea
                                            proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim
                                            aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-default">
                                <div class="panel-heading smoothie" role="tab" id="headingThree">
                                    <h4 class="panel-title">
                                        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree"
                                           aria-expanded="false" aria-controls="collapseThree">Autumn Event</a>
                                    </h4>
                                </div>
                                <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                                    <div class="panel-body">
                                        <p>
                                            Enthusiastically disseminate bleeding-edge ROI rather than accurate results. Collaboratively scale
                                            interoperable experiences for dynamic services. Appropriately embrace web-enabled potentialities rather
                                            than proactive human capital. Distinctively mesh resource-leveling e-commerce without B2B applications.
                                            Rapidiously iterate resource sucking intellectual capital vis-a-vis alternative experiences. Dramatically
                                            exploit unique communities rather than customized customer service. Energistically pursue high standards
                                            in manufactured products after top-line expertise.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="our-team">
        <div class="section-inner">
            <div class="container">
                <div class="row mb60 text-center">
                    <div class="col-sm-12">
                        <h3 class="section-title">Meet The Team</h3>
                        <p class="section-sub-title">The very best in their fields.</p>
                    </div>
                </div>
            </div>

            <div class="row nopaddingleftright">
                <div class="team-item col-md-3 match-height nopaddingleftright">
                    <div class="hover-effect smoothie match-height">
                        <a href="#" class="smoothie">
                            <img src="/assets/images/team-1.jpg" alt="Image" class="img-responsive smoothie"></a>
                        <div class="hover-overlay smoothie text-center">
                            <div class="vertical-align-bottom">
                                <h4>Richard Smith</h4>
                                <span class="item-category-span">Technology Writer</span>
                            </div>
                        </div>
                        <div class="hover-caption dark-overlay smoothie text-center">
                            <div class="vertical-align-top">
                                <p class="mb20">Credibly re-engineer best-of-breed imperatives for viral innovation. Appropriately extend sustainable
                                    channels before sustainable niches. Intrinsicly seize functionalized niches for user-centric paradigms.</p>
                                <div class="team-social">
                                    <a class="facebook" href="#"><i class="fa fa-facebook"></i></a>
                                    <a class="google" href="#"><i class="fa fa-google-plus"></i></a>
                                    <a class="twitter" href="#"><i class="fa fa-twitter"></i></a>
                                    <a class="pinterest" href="#"><i class="fa fa-pinterest"></i></a>
                                    <a class="blog" href="#"><i class="fa fa-rss"></i></a>
                                    <a class="dribbble" href="#"><i class="fa fa-dribbble"></i></a>
                                </div>
                            </div>
                            <div class="vertical-align-bottom">
                                <a href="single-team.html" class="btn btn-primary mb20">View Profile <i class="fa fa-angle-right smoothie"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="team-item col-md-3 match-height nopaddingleftright">
                    <div class="hover-effect smoothie match-height">
                        <a href="#" class="smoothie">
                            <img src="/assets/images/team-2.jpg" alt="Image" class="img-responsive smoothie"></a>
                        <div class="hover-overlay smoothie text-center">
                            <div class="vertical-align-bottom">
                                <h4>Dave Bronze</h4>
                                <span class="item-category-span">Editor</span>
                            </div>
                        </div>
                        <div class="hover-caption dark-overlay smoothie text-center">
                            <div class="vertical-align-top">
                                <p class="mb20">Credibly re-engineer best-of-breed imperatives for viral innovation. Appropriately extend sustainable
                                    channels before sustainable niches. Intrinsicly seize functionalized niches for user-centric paradigms.</p>
                                <div class="team-social">
                                    <a class="facebook" href="#"><i class="fa fa-facebook"></i></a>
                                    <a class="google" href="#"><i class="fa fa-google-plus"></i></a>
                                    <a class="twitter" href="#"><i class="fa fa-twitter"></i></a>
                                    <a class="pinterest" href="#"><i class="fa fa-pinterest"></i></a>
                                    <a class="blog" href="#"><i class="fa fa-rss"></i></a>
                                    <a class="dribbble" href="#"><i class="fa fa-dribbble"></i></a>
                                </div>
                            </div>
                            <div class="vertical-align-bottom">
                                <a href="single-team.html" class="btn btn-primary mb20">View Profile <i class="fa fa-angle-right smoothie"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="team-item col-md-3 match-height nopaddingleftright">
                    <div class="hover-effect smoothie match-height">
                        <a href="#" class="smoothie">
                            <img src="/assets/images/team-3.jpg" alt="Image" class="img-responsive smoothie"></a>
                        <div class="hover-overlay smoothie text-center">
                            <div class="vertical-align-bottom">
                                <h4>Trevor Shannon</h4>
                                <span class="item-category-span">Videographer</span>
                            </div>
                        </div>
                        <div class="hover-caption dark-overlay smoothie text-center">
                            <div class="vertical-align-top">
                                <p class="mb20">Credibly re-engineer best-of-breed imperatives for viral innovation. Appropriately extend sustainable
                                    channels before sustainable niches. Intrinsicly seize functionalized niches for user-centric paradigms.</p>
                                <div class="team-social">
                                    <a class="facebook" href="#"><i class="fa fa-facebook"></i></a>
                                    <a class="google" href="#"><i class="fa fa-google-plus"></i></a>
                                    <a class="twitter" href="#"><i class="fa fa-twitter"></i></a>
                                    <a class="pinterest" href="#"><i class="fa fa-pinterest"></i></a>
                                    <a class="blog" href="#"><i class="fa fa-rss"></i></a>
                                    <a class="dribbble" href="#"><i class="fa fa-dribbble"></i></a>
                                </div>
                            </div>
                            <div class="vertical-align-bottom">
                                <a href="single-team.html" class="btn btn-primary mb20">View Profile <i class="fa fa-angle-right smoothie"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="team-item col-md-3 match-height nopaddingleftright">
                    <div class="hover-effect smoothie match-height">
                        <a href="#" class="smoothie">
                            <img src="/assets/images/team-4.jpg" alt="Image" class="img-responsive smoothie"></a>
                        <div class="hover-overlay smoothie text-center">
                            <div class="vertical-align-bottom">
                                <h4>Stan Thorpe</h4>
                                <span class="item-category-span">Stylist</span>
                            </div>
                        </div>
                        <div class="hover-caption dark-overlay smoothie text-center">
                            <div class="vertical-align-top">
                                <p class="mb20">Credibly re-engineer best-of-breed imperatives for viral innovation. Appropriately extend sustainable
                                    channels before sustainable niches. Intrinsicly seize functionalized niches for user-centric paradigms.</p>
                                <div class="team-social">
                                    <a class="facebook" href="#"><i class="fa fa-facebook"></i></a>
                                    <a class="google" href="#"><i class="fa fa-google-plus"></i></a>
                                    <a class="twitter" href="#"><i class="fa fa-twitter"></i></a>
                                    <a class="pinterest" href="#"><i class="fa fa-pinterest"></i></a>
                                    <a class="blog" href="#"><i class="fa fa-rss"></i></a>
                                    <a class="dribbble" href="#"><i class="fa fa-dribbble"></i></a>
                                </div>
                            </div>
                            <div class="vertical-align-bottom">
                                <a href="single-team.html" class="btn btn-primary mb20">View Profile <i class="fa fa-angle-right smoothie"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <div th:replace="footer::footer"></div>

</div>

<script src="/assets/js/jquery.min.js"></script>
<script src="/assets/bootstrap/js/bootstrap.min.js"></script>
<script src="/assets/js/owl-carousel.js"></script>
<script src="/assets/js/plugins.js"></script>

<script src="/assets/js/init.js"></script>

</body>
</html>