<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <meta content="" name="description">
    <meta content="" name="author">

    <link rel="shortcut icon" href="/assets/images/favicon/favicon.ico" type="image/x-icon"/>
    <link rel="apple-touch-icon" href="/assets/images/favicon/apple-touch-icon.png"/>
    <link rel="apple-touch-icon" sizes="57x57" href="/assets/images/favicon/apple-touch-icon-57x57.png"/>
    <link rel="apple-touch-icon" sizes="72x72" href="/assets/images/favicon/apple-touch-icon-72x72.png"/>
    <link rel="apple-touch-icon" sizes="76x76" href="/assets/images/favicon/apple-touch-icon-76x76.png"/>
    <link rel="apple-touch-icon" sizes="114x114" href="/assets/images/favicon/apple-touch-icon-114x114.png"/>
    <link rel="apple-touch-icon" sizes="120x120" href="/assets/images/favicon/apple-touch-icon-120x120.png"/>
    <link rel="apple-touch-icon" sizes="144x144" href="/assets/images/favicon/apple-touch-icon-144x144.png"/>
    <link rel="apple-touch-icon" sizes="152x152" href="/assets/images/favicon/apple-touch-icon-152x152.png"/>
    <link rel="apple-touch-icon" sizes="180x180" href="/assets/images/favicon/apple-touch-icon-180x180.png"/>

    <title>JACK </title>
    <link href="/assets/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <link href='https://fonts.googleapis.com/css?family=Lato:400,300,700,900|Dancing+Script:400,700|Raleway:400,100,300,700,900|Reenie+Beanie&subset=latin,latin-ext'
          rel='stylesheet' type='text/css'>

    <link href="/assets/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <link href="/assets/pe-icons/css/pe-icon-7-stroke.css" rel="stylesheet">

    <link href="/assets/css/animate.css" rel="stylesheet">
    <link href="/assets/css/plugins.css" rel="stylesheet">
    <link href="/style.css" rel="stylesheet">

</head>

<body class="top-navigation pushy-right-side">



<!-- Site Overlay -->
<div class="site-overlay"></div>

<div id="master-wrapper">

    <div th:replace="copy::bar"></div>

    <section class="white-wrapper">
        <div class="section-inner">
            <div class="container mb90">
                <header id="home" class="backstretched fullheight">
                    <div class="dark-overlay dark-overlay-remove-color fullheight">
                        <div class="container-fluid fullheight special-max-width">
                            <div class="vertical-center-js">
                                <div class="row">
                                    <div class="col-sm-1 hidden-xs backstrech-controls vertical-center-js">
                                        <div>
                                            <a href="#prev-slide" class="pull-left"><i class="fa fa-2x fa-long-arrow-left"></i></a>
                                        </div>
                                    </div>
                                    <div class="col-sm-10 col-xs-12 text-center">
                                        <h1 class="section-title">An Example Single Portfolio</h1>
                                    </div>
                                    <div class="col-sm-1 hidden-xs backstrech-controls vertical-center-js">
                                        <div>
                                            <a href="#next-slide" class="pull-right"><i class="fa fa-2x fa-long-arrow-right"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </header>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-sm-10 col-sm-offset-1">
                        <div class="row project-item wow fadeIn" data-wow-delay="0.2s">
                            <div class="col-sm-9">
                                <p>Saw yet kindness too replying whatever marianne. Old sentiments resolution admiration unaffected its mrs
                                    literature. Behaviour new set existence dashwoods. It satisfied to mr commanded consisted disposing engrossed.
                                    Tall snug do of till on easy. Form not calm new fail.</p>
                                <p>Behind sooner dining so window excuse he summer. Breakfast met certainty and fulfilled propriety led. Waited get
                                    either are wooded little her. Contrasted unreserved as mr particular collecting it everything as indulgence. Seems
                                    ask meant merry could put. Age old begin had boy noisy table front whole given.</p>
                            </div>
                            <div class="col-sm-3">
                                <p><strong>DATE:</strong> 21/01/2015</p>
                                <p><strong>CLIENT:</strong> Jeeves Design</p>
                                <p><strong>TAGS:</strong> Brand Design, Graphics</p>
                                <p class="mt30"><a href="#contact" class="btn btn-primary btn-theme page-scroll">Visit Project</a></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <div th:replace="footer::footer"></div>

</div>

<script src="/assets/js/jquery.min.js"></script>
<script src="/assets/bootstrap/js/bootstrap.min.js"></script>
<script src="/assets/js/owl-carousel.js"></script>
<script src="/assets/js/plugins.js"></script>

<script src="/assets/js/init.js"></script>

</body>
</html>