<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.functionwall.dao.ComplaintWallMapper">
	<sql id="tablename">topic_complaintwall</sql>
	<sql id="insertFields">title,realname_user,link,content,created_date,id_user</sql>
	<sql id="selectFields">id,title,realname_user,link,content,created_date,id_user</sql>

	<insert id="save" useGeneratedKeys="true" keyProperty="id" >
		INSERT INTO
		<include refid="tablename"/>
		(
		<include refid="insertFields"/>
		)
		VALUE (#{title},#{realnameUser},#{link},#{content},#{createdDate},#{idUser})
	</insert>
    <select id="queryListForComplaintWallTopics" resultType="com.functionwall.pojo.model.Topic">
		SELECT
		<include refid="selectFields"/>
		FROM
		<include refid="tablename"/>
		ORDER BY
		created_date
		DESC
	</select>
</mapper>